<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :rating %><br />
  <%= f.select :rating, Movie::RATINGS, :include_blank => true %>
</p>
<p>
  <%= f.label :genre %><br />
  <%= f.select :genre, Movie::GENRES, :include_blank => true %>
</p>
<p>
  <%= f.label :synopsis %><br />
  <%= f.text_area :synopsis %>
</p>
<p>
  <%= f.submit %>
</p>