<h1>New movie</h1>

<% form_for(@movie) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :rating %><br />
    <%= f.select :rating, Movie::RATINGS %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <%= f.select :genre, Movie::GENRES %>
  </p>
  <p>
    <%= f.label :synopsis %><br />
    <%= f.text_area :synopsis %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', movies_path %>