<p>
  <b>Title:</b>
  <%=h @movie.title %>
</p>

<p>
  <b>Rating:</b>
  <%=h @movie.rating %>
</p>

<p>
  <b>Genre:</b>
  <%=h @movie.genre %>
</p>

<p>
  <b>Synopsis:</b>
  <%=h @movie.synopsis %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>